.nav-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  width: 50%;
  margin: auto;
  height: auto;
  list-style: none;
}

.footer-nav-items {
  background-color: transparent;
  color: var(--min-blue);
  font-size: 2rem;
}

.footer-nav-items:hover {
  color: var(--orange);
}




.about__container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}
