.nav-social-list {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
  height: auto;
}

.footer-nav-items {
  background-color:  var(--blue);
  border-radius: 30%;
  padding: 10px;
}


.about__container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}
