.backToTopClass{
 /* bg-accent w-12 h-12 hover:bg-accent-hover text-white rounded-full fixed right-24 bottom-24 cursor-pointer flex justify-center items-center transition-all animate-bounce */

 background-color: black;
 width: 5rem;
 height: 5rem;
 color: white;
 border-radius: 100%;
 position: fixed;
 right: 24px;
 bottom: 24px;
 cursor: pointer;
 z-index: 99999;
}